
{% extends 'main.html' %}

{% block content %}
{{ message }}



{% if Number > 10 %}
 <p>The number is greater than ten.</p>
 {% elif Number == 10 %}
 <p>The number is equal ten!</p>
{% else %}
<p>The number is less than ten</p>
{% endif %}


<h1>This is project page</h1>
<hr>

<table>
        <tr>
                <!-- <th>ID</th> -->
                <th>Project</th>
                <th>PositiveVotes</th>
                <th>Votes</th>
                <th>Date</th>
                <th>View</th>
        </tr>
        {% for projects in allproject %}
        <tr>
                <!-- <td>{{projects.id}}</td> -->
                <td>{{projects.title}}</td>
                <td>{{projects.vote_ratio}}%</td>
                <td>{{projects.vote_total}}</td>
                <td>{{projects.created}}</td>
                <td><a href="{% url 'projects' projects.id %}">View</a></td>
        </tr>
        {% endfor %}
</table>
<h1>All Projects</h1>
<hr>
<ul> 
        {% for projects in allproject %}
        <li><a href="{% url 'projects' projects.id %}">{{ projects.title }}</a> -- {{projects.description}}</li>
        {% endfor %}  
</ul>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corporis laboriosam nisi a exercitationem eius ad nulla et voluptatem at? Numquam dolores aut nesciunt voluptates ipsam tempore vero, sunt fuga, dolore soluta mollitia ratione, eos corrupti molestias possimus! Quae quam asperiores blanditiis adipisci quaerat cupiditate maiores earum, ex expedita neque
   



{% endblock %}
