<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloperBD</title>
</head>
<body>
    <header>
        {% include 'includes/navbar.html' %}
    </header>

    {% block content %}

    {% endblock %}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ullam voluptates beatae, et non quo in. Et quae nulla quis, dolor dolores nihil necessitatibus fugiat. Repellendus ducimus voluptatum adipisci exercitationem.</p
    >
    <footer>
        <h2>Footer Here</h2>
    </footer>
</body>
</html>